.openYesBomb   /*if the cell is a bomb, when clicked it'll turn into this*/
{
    -fx-background-image: url("bomb.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.question /*a user can put a question on the cell just in case it is a bomb (second click)*/
{
    -fx-background-image: url("question.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.flagged    /*a user can put a flag if they're sure that the cell has a bomb in it (first click)*/
{
    -fx-background-image: url("flag.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.openNoBomb /*just a normal cell*/
{
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
}

.successfullyMarkedBombCell /*if a marked cell has a bomb in it*/
{
    -fx-background-color: green;
}

.unsuccessfullyMarkedBombCell   /*if a marked cell doesn't have a bomb in it*/
{
    -fx-background-color: yellow;
}

.completelyUnmarkedBombCell /*if a bomb cell wasn't marked at all*/
{
    -fx-background-color: red;
}
